/* .updown__container{
    position: fixed;
    bottom: 2rem;
    right: 1.5rem;
    font-size: 2rem;
    text-align: center;
    width: 3rem;
    background-color: var(--color-bg-variant);
    align-items: baseline;
    border-radius: 1.5rem
} */
.updown__container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--color-bg-variant);
    color: #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  /* ============MEDIA QUERY FOR SMALL SCREEN============= */
  @media screen and (max-width: 600px) {
    .updown__container{
        display: none;
    }
  }